<%provide( :title ,'主页') %>
<div class="center hero-unit">
<h1>这是我的主页面</h1>
<p>可以在 app/views/static_page/home.html.erb找到我</p>
<%= link_to "立即注册",signup_path,class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png",alt: "Rails"), 'http://rubyrails.org/'  %>