<footer class="footer">
  <small>

    <a href='#'>教程</a>
     KLY的rails学习
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", '#' %></li>
      <li><%= link_to "内容", '#' %></li>
    </ul>
  </nav>
</footer>